.jumbotron {
  background-image: url("home.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #cccab7;
}



h1 {
  text-align: center;
}


#outputDiv {
  margin: auto;
    width: 80%;
    padding: 10px;
}

body {

  background: linear-gradient(to right, #30302e, #0d7691); /* Standard syntax */

}

.listDiv{
  background-color: #cccab7;
  margin: 3px;
  padding: 5px;
  height: 125px;

}

#inputDiv {
  margin:  auto;
  width: 450px;

}

#rbSelect {
  text-align: center;
  background-color: #cccab7;

}

#addButton {
  height:40px;
    width:100px;
    margin: 20px 50px;
    position:relative;
    top:50%;
    left:50%;
    background-color: #cccab7;

  }
